<template>
    <div>
        <form @submit.prevent="send" @keydown="form.onKeydown($event)">
            <p class="title">Contact</p>

            <div class="form-columns">
                <div class="form-col">
                    <input type="text" v-model="form.name" :placeholder="trans('strings.contactform.name')" name="name"
                           :class="{ 'is-invalid': form.errors.has('name') }">
                    <has-error :form="form" field="name"></has-error>
                </div>
                <div class="form-col">
                    <input type="text" v-model="form.email" :placeholder="trans('strings.contactform.email')" name="email"
                           :class="{ 'is-invalid': form.errors.has('email') }">
                    <has-error :form="form" field="email"></has-error>
                </div>
            </div>
            <div class="form-columns">
                <div class="form-col">
                    <input type="text" v-model="form.company" :placeholder="trans('strings.contactform.company')" name="company"
                           :class="{ 'is-invalid': form.errors.has('company') }">
                    <has-error :form="form" field="company"></has-error>
                </div>
                <div class="form-col">
                    <input type="text" v-model="form.phone" :placeholder="trans('strings.contactform.phone')" name="phone"
                           :class="{ 'is-invalid': form.errors.has('phone') }">
                    <has-error :form="form" field="phone"></has-error>
                </div>
            </div>
            <div class="form-columns">
                <div class="form-col">
                    <input type="text" v-model="form.address" :placeholder="trans('strings.contactform.address')" name="address"
                           :class="{ 'is-invalid': form.errors.has('address') }">
                    <has-error :form="form" field="address"></has-error>
                </div>
                <div class="form-col">
                    <textarea v-model="form.message" :placeholder="trans('strings.contactform.message')" name="message"
                              :class="{ 'is-invalid': form.errors.has('message') }"></textarea>
                    <has-error :form="form" field="message"></has-error>
                </div>
            </div>

            <div class="form-submit">
                <button :disabled="form.busy" type="submit" v-text="trans('strings.contactform.send')"></button>
            </div>
        </form>

    </div>
</template>

<script>
    import { Form, HasError, AlertError } from 'vform'
    import swal from 'sweetalert2'

    export default {
        props: ['url'],

        data () {
            return {
                // Create a new form instance
                form: new Form({
                    name: '',
                    email: '',
                    company: '',
                    phone: '',
                    address: '',
                    message: '',
                })
            }
        },

        methods: {
            send () {
                swal({
                    title: this.trans('strings.contactform.sending'),
                    onOpen: () => {
                        swal.showLoading()
                    }
                });

                this.form.post(this.url)
                    .then((data) => {
                        this.form.reset();
                        swal.close();

                        this.notifySuccess()
                    })
                    .catch(() => {
                        swal.close();
                    });
            },

            notifySuccess () {
                swal({
                    title: this.trans('strings.contactform.sent'),
                    timer: 2000,
                    showCloseButton: true
                })
            }
        }
    }
</script>

<style scoped>

</style>