<template>

    <div>
        <a href="#" @click="openForm($event)" v-text="trans('strings.product.button')"></a>

        <div v-if="opened" class="product-form-container">
            <div class="product-overlay">
                <div class="product-form">

                    <div class="product-form-title">
                        <span>FlyerGo</span>
                        <div class="close" @click="closeForm"></div>
                    </div>

                    <div class="product-form-content">
                        <div class="loading" v-if="loading"><div class="lds-ripple"><div></div><div></div></div></div>

                        <form action="" v-if="!loading">
                            <h2>{{ trans('strings.product.form.configuration') }}</h2>

                            <select v-model="form.product" name="product"
                                    :class="{ 'is-invalid': form.errors.has('product') }"></select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: ['product'],


        data () {
            return {
                opened: false,
                loading: false
            }
        },

        methods: {
            openForm($event) {
                this.opened = true

                $event.preventDefault()

                this.loading = true
            },

            closeForm() {
                this.opened = false
            }
        }
    }
</script>

<style scoped lang="scss">
.product-form-container {

}
</style>