@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.product-form-container .product-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.product-form-container .product-form {
  width: 690px;
  min-height: 300px;
  margin: 20px auto;
  background-color: #878787;
}

.product-form-container .product-form .product-form-title {
  height: 86px;
  background-color: #e94c2d;
  position: relative;
}

.product-form-container .product-form .product-form-title span {
  display: inline-block;
  width: 226px;
  height: 71px;
  background: url("/img/logo-product.png") no-repeat;
  margin: 8px 51px;
  background-size: contain;
  text-indent: -99999px;
}

.product-form-container .product-form .product-form-title .close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.product-form-container .product-form .product-form-content .loading {
  width: 64px;
  margin: 75px auto;
}

.product-form-container .product-form .product-form-content .loading .lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.product-form-container .product-form .product-form-content .loading .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.product-form-container .product-form .product-form-content .loading .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.orange-bar {
  background-color: #e94c2c;
  height: 30px;
}

.page-hello#main {
  padding: 0;
}

.page-hello .container {
  width: 100%;
  background: url("/img/pages-hello-bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 690px;
  color: #FFFFFF;
  text-align: center;
  display: table;
}

.page-hello .container p {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 200;
}

.page-hello .container p .hilite {
  color: #e2e92c;
}

.page-why#main {
  padding: 7px 0 0;
}

.page-why .container {
  width: 100%;
  margin-bottom: 7px;
}

.page-why .container .container-inner {
  min-height: 555px;
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.page-why .container .container-inner .card {
  position: absolute;
  width: 542px;
  color: #FFFFFF;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 200;
}

.page-why .container .container-inner .card .card-inner {
  padding: 20px 150px 20px 20px;
}

.page-why .container .container-inner .card .title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.page-why .container .container-inner .card .subtitle {
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.page-why .container.section-1 .card {
  background-color: #b66270;
}

.page-why .container.section-2 .card {
  background-color: #9cbcc9;
  right: 0;
}

.page-why .container.section-2 .card .card-inner {
  padding: 20px 20px 20px 150px;
}

.page-why .container.section-3 .card {
  background-color: #edb500;
}

body {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/**
 * HEADER
 */

header#header {
  background-color: #f9f9f9;
  position: relative;
  color: #454545;
  padding-bottom: 20px;
}

header#header .container {
  width: 970px;
}

header#header a {
  color: #454545;
}

header#header h1.logo {
  display: inline-block;
  margin: 50px 0 0 49px;
}

header#header h1.logo a {
  text-indent: -99999px;
  background: url("/img/logo.jpg") no-repeat;
  width: 311px;
  height: 98px;
  display: inline-block;
}

header#header nav.mainmenu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

header#header nav.mainmenu ul {
  list-style: none;
}

header#header nav.mainmenu ul li {
  display: inline-block;
  padding: 6px;
  margin-right: 3px;
}

header#header nav.mainmenu ul li a {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 18px;
}

header#header nav.mainmenu ul li a:hover {
  color: #e9585b;
}

header#header nav.mainmenu ul li.active a {
  color: #e9585b;
}

header#header nav.utilmenu {
  position: absolute;
  top: 0;
  right: 0;
}

header#header nav.utilmenu ul li {
  font-size: 19px;
  display: inline-block;
}

header#header nav.utilmenu ul li.whatsapp {
  background: url("/img/whatsapp.jpg") no-repeat left center;
  padding: 10px 7px 10px 37px;
  font-weight: 200;
}

header#header nav.utilmenu ul li.lang {
  color: #000000;
  text-transform: uppercase;
  padding: 10px 0;
}

header#header nav.utilmenu ul li.lang.active a {
  color: #e10706;
}

header#header nav.utilmenu ul li.lang.left {
  border-left: 1px solid #dadada;
  padding-left: 10px;
  padding-right: 5px;
}

header#header nav.utilmenu ul li.lang.right {
  border-right: 1px solid #dadada;
  padding-right: 10px;
  padding-left: 5px;
}

/**
 * HERO
 */

#hero {
  background-color: #e1dad2;
}

/**
 * MAIN
 */

#main {
  padding: 50px 0 30px;
  background-color: #f9f9f9;
}

#main .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}

#main .grid .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main .item {
  color: #717171;
  margin-bottom: 25px;
}

#main .item .item-img img {
  max-width: 100%;
}

#main .item .item-info {
  padding: 15px 3px;
  position: relative;
}

#main .item .item-info h2 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 8px;
}

#main .item .item-info span {
  font-size: 15px;
}

#main .item .item-info a {
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  background-color: #62c3cc;
  color: #FFFFFF;
  font-size: 11px;
  border-radius: 5px;
  padding: 13px 20px;
  right: 0;
  top: 17px;
}

#main .item .item-info a:hover {
  background-color: #45A9B3;
}

/**
 * Banners
 */

#banners {
  background-color: #ececec;
  padding: 40px 0;
}

#banners .banner {
  width: 940px;
  height: 360px;
  position: relative;
  margin-bottom: 40px;
}

#banners .banner:last-child {
  margin-bottom: 0;
}

#banners .banner img {
  position: absolute;
  width: 940px;
  height: 360px;
}

#banners .banner .caption {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

#banners .banner .caption .title {
  margin-top: 35px;
  color: #e52929;
  font-size: 1.9rem;
  line-height: 2.5rem;
}

#banners .banner .caption .title span.logo-small {
  background: url("/img/logo-small.png") no-repeat center center;
  background-size: contain;
  width: 125px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

#banners .banner .caption .subtitle {
  color: #000000;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 10px;
}

#banners .banner .caption .button {
  display: inline-block;
  background-color: #9d9d9c;
  padding: 10px 20px;
  color: #FFFFFF;
}

#logos {
  background-color: #FFFFFF;
}

#logos .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
}

#logos .grid .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

/**
 * FOOTER
 */

footer#footer {
  background: url("/img/footer.jpg") no-repeat center center;
  min-height: 662px;
}

footer#footer #newsletter {
  text-align: center;
  margin-bottom: 153px;
  padding-top: 60px;
}

footer#footer #newsletter form p {
  font-size: 32px;
  margin-bottom: 25px;
}

footer#footer #newsletter form .input-row {
  width: 486px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 119px;
  grid-column-gap: 8px;
}

footer#footer #newsletter form .input-row input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#footer #newsletter form .input-row input[type=text] {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 19px;
  padding: 0 14px;
}

footer#footer #newsletter form .input-row input[type=text][placeholder] {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

footer#footer #newsletter form .input-row input[type=submit] {
  display: block;
  color: #FFFFFF;
  background-color: #de5358;
  border-radius: 5px;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  padding: 6px 10px;
  font-weight: 200;
}

footer#footer #foot {
  color: #FFFFFF;
  margin: 0 -40px;
  display: grid;
  grid-template-columns: 55% 1fr;
}

footer#footer #foot p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 200;
  margin-bottom: 24px;
}

footer#footer #foot p.title {
  font-size: 24px;
  margin-bottom: 7px;
}

footer#footer #foot form {
  padding: 14px 0;
}

footer#footer #foot form p.title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 10px;
}

footer#footer #foot form .form-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

footer#footer #foot form .form-columns .form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

footer#footer #foot form .form-columns .form-col input,
footer#footer #foot form .form-columns .form-col textarea {
  width: 100%;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  font-size: 14px;
  padding: 7px;
  margin-bottom: 8px;
  height: 22px;
}

footer#footer #foot form .form-columns .form-col input[placeholder],
footer#footer #foot form .form-columns .form-col textarea[placeholder] {
  color: #c2c2c2;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

footer#footer #foot form .form-columns .form-col textarea {
  height: 100px !important;
}

footer#footer #foot form .form-submit {
  text-align: right;
}

footer#footer #foot form .form-submit button {
  background-color: #f6f6f6;
  color: #797979;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  padding: 5px 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 5px 0;
  font-size: 14px;
}

footer#footer #foot form .form-submit button:hover {
  background-color: #808080;
  color: #373737;
}

footer#footer #foot form .form-submit button:active {
  background-color: #808080;
  color: #000000;
}

footer#footer #foot .icons .icon {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 4px;
  font-size: 30px;
  line-height: 46px;
}

footer#footer #foot .icons .icon a {
  display: inline-block;
  width: 46px;
  height: 46px;
  text-indent: -99999px;
  background-position: center center;
  background-repeat: no-repeat;
}

footer#footer #foot .icons .icon.facebook a {
  background-image: url("/img/facebook-icon.png");
}

footer#footer #foot .icons .icon.instagram a {
  background-image: url("/img/instagram-icon.png");
}

footer#footer #foot .icons .icon.twitter a {
  background-image: url("/img/twitter-icon.png");
}

footer#footer #foot .icons .icon.whatsapp a {
  background-image: url("/img/whatsapp-icon.png");
}

footer#footer #foot .icons .text {
  display: inline-block;
}

footer#footer #foot .icons .text span {
  font-size: 30px;
  line-height: 46px;
}

