.orange-bar {
  background-color: $orange-color-primary;
  height: 30px;
}

.page-hello {
  &#main {
    padding: 0;
  }

  .container {
    width: 100%;
    background: url('/img/pages-hello-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 690px;

    color: #FFFFFF;
    text-align: center;
    display: table;

    p {
      display: table-cell;
      vertical-align: middle;
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 200;

      .hilite {
        color: #e2e92c;
      }
    }
  }
}

.page-why {
  &#main {
    padding: 7px 0 0;
  }

  .container {
    width: 100%;
    margin-bottom: 7px;

    .container-inner {
      min-height: 555px;
      width: 940px;
      margin: 0 auto;
      position: relative;

      .card {
        position: absolute;
        width: 542px;
        color: #FFFFFF;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 200;

        .card-inner {
          padding: 20px 150px 20px 20px;
        }

        .title {
          font-size: 2rem;
          margin-bottom: 10px;
        }

        .subtitle {
          font-size: 1.5rem;
          line-height: 1.9rem;
        }
      }
    }

    &.section-1 {
      .card {
        background-color: #b66270;
      }
    }

    &.section-2 {
      .card {
        background-color: #9cbcc9;
        right: 0;

        .card-inner {
          padding: 20px 20px 20px 150px;
        }
      }
    }

    &.section-3 {
      .card {
        background-color: #edb500;
      }
    }
  }
}