.product-form-container {
  .product-overlay {
    background-color: rgba(255,255,255,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  .product-form {
    width: 690px;
    min-height: 300px;
    margin: 20px auto;
    background-color: #878787;

    .product-form-title {
      height: 86px;
      background-color: #e94c2d;
      position:relative;

      span {
        display: inline-block;
        width: 226px;
        height: 71px;
        background: url("/img/logo-product.png") no-repeat;
        margin: 8px 51px;
        background-size: contain;
        text-indent: -99999px;
      }

      .close {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    .product-form-content {

      .loading {
        width: 64px;
        margin: 75px auto;

        .lds-ripple {
          display: inline-block;
          position: relative;
          width: 64px;
          height: 64px;
        }
        .lds-ripple div {
          position: absolute;
          border: 4px solid #fff;
          opacity: 1;
          border-radius: 50%;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }
        .lds-ripple div:nth-child(2) {
          animation-delay: -0.5s;
        }
        @keyframes lds-ripple {
          0% {
            top: 28px;
            left: 28px;
            width: 0;
            height: 0;
            opacity: 1;
          }
          100% {
            top: -1px;
            left: -1px;
            width: 58px;
            height: 58px;
            opacity: 0;
          }
        }
      }
    }

  }
}