@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

$main-bg: #f9f9f9;
$orange-color-primary: #e94c2c;
$orange-color: #e52929;

@import "reset";
@import "product";
@import "pages";

body {
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
}

.wrap {
	
}

.container {
	width: 940px;
	margin: 0 auto;
	position: relative;
}


/**
 * HEADER
 */
header#header {
	background-color: $main-bg;
	position: relative;
	color: #454545;
	padding-bottom: 20px;
	
	.container {
		width: 970px;
	}
	
	a {
		color: #454545;
	}
	
	h1.logo {
		display: inline-block;
    	margin: 50px 0 0 49px;
		
		a {
			text-indent: -99999px;
			background: url('/img/logo.jpg') no-repeat;
			width: 311px;
			height: 98px;
			display: inline-block;
		}
	}
	
	nav.mainmenu {
		position: absolute;
		bottom: 10px;
		right: 10px;
		
		ul {
			list-style: none;
			
			li {
				display: inline-block;
				padding: 6px;
				margin-right: 3px;
				
				a {
					font-weight: 200;
					text-transform: uppercase;
					font-size: 18px;
					
					&:hover {
						color: #e9585b;
					}
				}
				
				&.active {
					a {
						color: #e9585b;
					}
				}
			}
		}
	}
	
	nav.utilmenu {
		position: absolute;
    	top: 0;
    	right: 0;
		
		ul {
			
			li {
				font-size: 19px;
				display: inline-block;
			}
			
			li.whatsapp {
				background: url('/img/whatsapp.jpg') no-repeat left center;
				padding: 10px 7px 10px 37px;
    			font-weight: 200;
			}
			
			li.lang {
				color: #000000;
				text-transform: uppercase;
				padding: 10px 0;
				
				&.active {
					a {
						color: #e10706;
					}
				}
				
				&.left {
					border-left: 1px solid #dadada;
					padding-left: 10px;
					padding-right: 5px;
				}
				
				&.right {
					border-right: 1px solid #dadada;
					padding-right: 10px;
					padding-left: 5px;
				}
			}
		}
	}
}

/**
 * HERO
 */
#hero {
	background-color: #e1dad2;
}

/**
 * MAIN
 */
#main {
	padding: 50px 0 30px;
	background-color: #f9f9f9;
	
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 25px;

		.column {
			display: flex;
		}
	}
	
	.item {
		color: #717171;
		margin-bottom: 25px;
		
		.item-img {
			img {
				max-width: 100%;
			}
		}
		
		.item-info {
			padding: 15px 3px;
			position: relative;
			
			h2 {
				font-size: 25px;
    			font-weight: 300;
				margin-bottom: 8px;
			}
			
			span {
				font-size: 15px;
			}
			
			a {
				text-transform: uppercase;
				display: inline-block;
				position: absolute;
				background-color: #62c3cc;
				color: #FFFFFF;
				font-size: 11px;
				border-radius: 5px;
				padding: 13px 20px;
    			right: 0;
    			top: 17px;
				
				&:hover {
					background-color: #45A9B3
				}
			}
		}
	}
}

/**
 * Banners
 */
#banners {
	background-color: #ececec;
	padding: 40px 0;

	.banner {
		width: 940px;
		height: 360px;
		position: relative;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		img {
			position: absolute;
			width: 940px;
			height: 360px;
		}

		.caption {
			position: absolute;
			text-align: center;
			width: 100%;
			height: 100%;

			.title {
				margin-top: 35px;
				color: $orange-color;
				font-size: 1.9rem;
				line-height: 2.5rem;

				span.logo-small {
					background: url('/img/logo-small.png') no-repeat center center;
					-webkit-background-size: contain;
					background-size: contain;
					width: 125px;
					height: 40px;
					display: inline-block;
					vertical-align: middle;
				}
			}
			.subtitle {
				color: #000000;
				font-size: 1.1rem;
				line-height: 1.4rem;
				margin-bottom: 10px;
			}
			.button {
				display: inline-block;
				background-color: #9d9d9c;
				padding: 10px 20px;
				color: #FFFFFF;
			}
		}
	}
}


#logos {
	background-color: #FFFFFF;
	
	.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 0px;

		.column {
			display: flex;
			text-align: center;
		}
	}
}

/**
 * FOOTER
 */
footer#footer {

	background: url('/img/footer.jpg') no-repeat center center;
	min-height: 662px;

	#newsletter {
		text-align: center;
		margin-bottom: 153px;
		padding-top: 60px;

		form {
			p {
				font-size: 32px;
				margin-bottom: 25px;
			}

			.input-row {
				width: 486px;
				margin: 0 auto;
				display: grid;
				grid-template-columns: 1fr 119px;
				grid-column-gap: 8px;

				input {
					display: flex;
				}

				input[type=text] {
					border: 1px solid #000;
					border-radius: 5px;
					font-size: 19px;
					padding: 0 14px;

					&[placeholder] {
						color: #000000;
						font-family: 'Oswald', sans-serif;
						font-weight: 200;
					}
				}

				input[type=submit] {
					display: block;
					color: #FFFFFF;
					background-color: #de5358;
					border-radius: 5px;
					border: none;
					font-family: 'Oswald', sans-serif;
					font-size: 19px;
					padding: 6px 10px;
					font-weight: 200;
				}

			}
		}
	}

	#foot {
		color: #FFFFFF;
		margin: 0 -40px;

		display: grid;
		grid-template-columns: 55% 1fr;

		.col {

		}

		p {
			font-size: 18px;
			line-height: 23px;
			font-weight: 200;
			margin-bottom: 24px;

			&.title {
				font-size: 24px;
				margin-bottom: 7px;
			}
		}

		form {
			padding: 14px 0;

			p.title {
				text-transform: uppercase;
				font-size: 26px;
				font-weight: 700;
				margin-left: 10px;
				margin-bottom: 10px;
			}

			.form-columns {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 10px;

				.form-col {
					display: flex;
					text-align: center;

					input, textarea {
						width: 100%;
						border: 1px solid #FFFFFF;
						background-color: #000000;
						font-size: 14px;
						padding: 7px;
						margin-bottom: 8px;
						height: 22px;

						&[placeholder] {
							color: #c2c2c2;
							font-family: 'Oswald', sans-serif;
							font-weight: 200;
						}
					}

					textarea {
						height: 100px !important;
					}
				}
			}

			.form-submit {
				text-align: right;
				button {
					background-color: #f6f6f6;
					color: #797979;
					text-transform: uppercase;
					border: none;
					border-radius: 2px;
					padding: 5px 30px;
					font-family: 'Oswald', sans-serif;
					font-weight: 700;
					font-style: italic;
					margin: 5px 0;
					font-size: 14px;

					&:hover {
						background-color: #808080;
						color: #373737;
					}

					&:active {
						background-color: #808080;
						color: #000000;
					}
				}
			}
		}

		.icons {
			.icon {
				display: inline-block;
				width: 46px;
				height: 46px;
				margin-right: 4px;
				font-size: 30px;
				line-height: 46px;

				a {
					display: inline-block;
					width: 46px;
					height: 46px;
					text-indent: -99999px;
					background-position: center center;
					background-repeat: no-repeat;
				}

				&.facebook a {
					background-image: url('/img/facebook-icon.png');
				}
				&.instagram a {
					background-image: url('/img/instagram-icon.png');
				}
				&.twitter a {
					background-image: url('/img/twitter-icon.png');
				}
				&.whatsapp a {
					background-image: url('/img/whatsapp-icon.png');
				}
			}

			.text {
				display: inline-block;

				span {
					font-size: 30px;
					line-height: 46px;
				}
			}
		}

	}

}


